services:
  app:
    build:
      context: .
      target: dev
    networks:
      - front-tier
      - back-tier
    depends_on:
      pgdb:
        condition: service_healthy
        restart: true
    develop:
      watch:
        - action: sync
          path: .
          target: .
          initial_sync: true
  pgdb:
    image: postgres
    restart: always
    volumes:
      - pg-data:/var/lib/postgresql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - back-tier
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: innowise
      POSTGRES_PASSWORD: innowise
      POSTGRES_DB: task1
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

volumes:
  pg-data: {}
networks:
  front-tier: {}
  back-tier: {}


